<div class="loader" *ngIf="showloading">
  <span></span>
</div>

<div class="Message">{{File_Count}}</div>
<div class="Message">{{Message}}</div>

<div class="tables" *ngIf="showtable">
  <table>
    <caption>School</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data["First Name"]}} {{data["Last Name"]}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Class</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data.Class}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Assessment Areas</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data["Assessment Areas"]}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Student</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Full_Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data["First Name"]}} {{data["Last Name"]}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Awards</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data.award}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Answer</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data.Answers}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Summary</caption>
    <thead>
      <tr>
        <th>School_ID</th>
        <th>Sydney_Participant</th>
        <th>Sydney_Percentile</th>
        <th>Assessment_Area_ID</th>
        <th>Award_ID</th>
        <th>Class_ID</th>
        <th>Correct Answer Percentage Per Class</th>
        <th>Correct_Answer</th>
        <th>Student_ID</th>
        <th>Participant</th>
        <th>Student_Score</th>
        <th>Subject_ID</th>
        <th>Category_ID</th>
        <th>Year Level_Name</th>
        <th>Answer_ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data.sydney_participants}}</td>
        <td>{{data.sydney_percentile}}</td>
        <td>{{data.StudentID}}</td>
        <td>{{data.StudentID}}</td>
        <td>{{data.StudentID}}</td>
        <td>{{data.correct_answer_percentage_per_class}}</td>
        <td>{{data["Correct Answers"]}}</td>
        <td>{{data.StudentID}}</td>
        <td>{{data.participant}}</td>
        <td>{{data.student_score}}</td>
        <td>{{data.StudentID}}</td>
        <td>{{data.StudentID}}</td>
        <td>{{data["Year Level"]}}</td>
        <td>{{data.StudentID}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Subject</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Subject_Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.StudentID}}</td>
        <td>{{data.Subject}}</td>
        <td>{{data.average_score}}</td>
      </tr>
    </tbody>
  </table>
</div>